*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Fisrt page*/
body{
    background-image: url(/images_for_work/NewYork.jpg);
    display: flex;
}
.form{
    width: 450px;
    height: 360px;
    border: 1px solid rgba(0, 0, 0, 0.493);
    background-color: rgba(0, 0, 0, 0.486);
    margin: auto;
    margin-top: 100px;
    border-radius: 10px 10px 10px 10px;
}
.text-1{
    color: white;
    font-family: sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 30px;
}
.inf-1{
    width: 360px;
    height: 40px;
    margin-left: 45px;
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
}
.inf-2{
    width: 360px;
    height: 40px;
    margin-left: 45px;
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
}
.inf-3{
    width: 360px;
    height: 40px;
    margin-left: 45px;
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
}
.b1{
    width: 360px;
    height: 50px;
    margin-left: 45px;
    margin-top: 20px;
    border-radius: 5px 5px 5px 5px;
    color: white;
    background-color: dodgerblue;
}
.b1 a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    
}
/*First page*/