*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
    display: block;
}
.main_page{
    width: 85%;
    height: 2200px;
    margin: auto;
    border: 1px solid black;
}
.line{
    width: 100%;
    height: 10px;
    background-color: darkorange;
    box-shadow: 5px 0px 0px 0px;
}
.name_of_page{
    width: 100%;
    height: 160px;
    background-color: white;
}
.logotype{
    width: 25%;
    height: 100%;
    float: left;
}
.logotype img{
    float: right;
    padding-top: 6px;
}
.name{
    width: 40%;
    height: 100%;
     
    margin-left: 0px;
    float: right;
}
.name h2{
    color: darkorange;
    font-family: sans-serif;
    font-size: 32px;
    padding: 56px 6px;
}
.numbers{
    width: 35%;
    height: 100%;
     
    float: right;
    /* background-image: url(/telegram/2.png);
    background-size: cover;
    opacity: ; */
}
.numbers-1{
    width: 30%;
    height: 100%;
     
    float: left;
    margin-top: -160px;
}
.numbers-1 img{
    float: right;
    padding-top: 50px;
}
.numbers-2{
    width: 70%;
    height: 100%;
     
    float: right;
    z-index: 0;
    margin-top: -160px;
}
.numbers-2 p{
    color: darkorange;
    padding-top: 50px;
}
.fire{
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}
.panel_for_btns{
    width: 100%;
    height: 50px;
    border: 1px solid darkorange;
    background-color: darkorange;
}
.btn-group{
    width: 80%;
    height: 100%;
      
    background-color: darkorange;
    margin-left: 100px;
}
.btn-group button{
    background-color: darkorange;
    border: 1px solid darkorange;
    color: white;
    width: 140px;
    height: 100%;
    font-size: 16px;
    margin-left: 8px;
}
.btn-group img{
    float: right;
    width: 50px;
    height: 100%;
    margin-right: 50px;
}
.btn-group button:hover{
    background-color: orange;
}
.promise{
    width: 100%;
    height: 360px;
    border: 0px solid black;
    background-image: url(/telegram/4.png);
    background-size: cover;
}
.promise h1{
    color: white;
    padding-top: 120px;
    padding-left: 640px;
    font-size: 36px;
}
.about_company{
    width: 100%;
    height: 250px;
       
    background-color: white;
}
.text{
    width: 65%;
    height: 100%;
       
    float: left;
    color: darkorange;
}
.text h2{
    margin-left: 150px;
    margin-top: 10px;
}
.text p{
    margin-left: 100px;
    text-indent: 60px;
    margin-top: 10px;
    font-size: 17px;
}
.img-1{
    width: 115px;
    height: 230px;
}
.img-2{
    width: 216px;
    height: 180px;
    margin-top: -35px;
}
.text button{
    width: 100px;
    height: 40px;
    background-color: orange;
    color: white;
    outline: none;
    margin-top: 12px;
    margin-left: 450px;
}
.buttons{
    width: 100.15%;
    height: 200px;
    background-color: darkorange;
    margin-top: 15px;
    background-size: cover;
    margin-left: -1px;
}
.btn-groups-2{
    width: 80%;
    height: 100%;
    margin-left: 160px;
    border: 1px solid transparent;
}
.btn_1{
    width: 108px ;
    height: 108px ;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 165px;
}
.btn_1 img{
    width: 108px ;
    height: 108px ;
    border-radius: 100%;
}
.btn_1 p{
    color: white;
    font-family: 'Gentium Book Plus', serif;
    font-size: 16px;
    margin-left: -6px;
}
.btn_2{
    width: 108px ;
    height: 108px ;
    border-radius: 100%;
    margin-left: 64px;
}
.btn_2 img{
    width: 108px ;
    height: 108px ;
    border-radius: 100%;
}
.btn_2 p{
    color: white;
    font-family: 'Gentium Book Plus', serif;
    font-size: 16px;
}
.btn_3{
    width: 108px ;
    height: 108px ;
    border-radius: 100%;
    margin-left: 64px;
}
.btn_3 img{
    width: 108px ;
    height: 108px ;
    border-radius: 100%;
}
.btn_3 p{
    color: white;
    font-family: 'Gentium Book Plus', serif;
    font-size: 16px;
    white-space: nowrap;
    margin-left: -20px;
}
.promise_2{
    width: 100.2%;
    height: 550px;
     
    margin-left: -1px;
    background-image: url(/telegram/10.png);
    background-size: cover;
}
.family_pickture{
    width: 65%;
    height: 100%;
     
    float: right;
    background-image: url(/telegram/11.png);
    background-size: 100% 100%;
    margin-top: -370px;
}
.promise_2 h1{
    color: white;
    font-family: sans-serif;
    font-size: 30px;
    padding-top: 300px;
    padding-left: 16px;
}
.contacts{
    width: 100.2%;
    height: 500px;
    border: 1px solid transparent;
    background-image: url(/telegram/13.png);
    margin-left: -1px;
}
.gradient{
    width: 100%;
    height: 200px;
     
    background-image: url(/telegram/12.png);
    background-size: cover;
}
.contact1{
    width: 40%;
    height: 100%;
     
    float: left;
}
.subcontact-1-1{
    width: 25%;
    height: 100%;
      
    float: left;
}
.subcontact-1-1 img{
    float: right;
    padding-top: 30px;
}
.subcontact-1-2{
    width: 75%;
    height: 100%;
      
    float: right;
}
.subcontact-1-2 h4{
    padding: 30px 10px;
    color: white;
}
.contact2{
    width: 30%;
    height: 100%;
     
    float: right;
}
.subcontact-2-1{
    width: 16%;
    height: 100%;
      
    float: left;
}
.subcontact-2-1 img{
    float: right;
    padding-top: 30px;
}
.subcontact-2-2{
    width: 84%;
    height: 100%;
      
    float: right;
}
.subcontact-2-2 h4{
    color: white;
    padding: 30px 10px;
}
.contact3{
    width: 30%;
    height: 100%;
     
    float: right;
}
.subcontact-3-1{
    width: 20%;
    height: 100%;
      
    float: left;
}
.subcontact-3-1 img{
    float: right;
    padding-top: 30px;
}
.subcontact-3-2{
    width: 80%;
    height: 100%;
      
    float: right;
}
.subcontact-3-2 h4{
    color: white;
    padding: 30px 10px;
}