*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: end; */
}
body{
    width: 80%;
    height: 120vh;
    border: 1px solid black;
    margin: auto;
}
.contacts{
    width: 100%;
    height: 6vh;
    border: 1px solid black;
    background-color: black;
    overflow: hidden;
    text-align: end;
}
.num_email{
    width: 40%;
    height: 100%;
    border: 1px solid black;
    float: left;
    padding-bottom: 12px;    
}
.email-link{
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
}
.email_icon{
    height: 80%;
    margin-top: 1vh;
}
.phone-link{
    color: white;
    text-decoration: none;
    font-size: 2.5vh;
}
.phone_icon{
    height: 80%;
}
.social{
    width: 20%;
    height: 100%;
    border: 1px solid black;
    float: right;
    display: flex;
    justify-content: start;
    justify-content: space-between;
}
.social_icons{
    padding-top: 0.8vh;
    height: 80%;   
}
.Navigation{
    width: 100%;
    height: 12vh;
    border: 1px solid black;
    display: flex;
}
.logo{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: end;
    align-items: center;
}
.student_icon{
    height: 90%;
}
.logo p{
    font-size: 32px;
    font-family: sans-serif;
    color: rgb(59, 212, 59);
    font-weight: 600;
}
.display_buttons{
    width: 55%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
.display_buttons a{
    display: block;
    color: black;
    text-align: center;
    padding: 4vh 1px;
    text-decoration: none;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    /* text-decoration: none;
    font-size: 3vh;
    display: block;
    height: 100%; */
}
.display_buttons a:hover{
    background-color: rgb(113, 207, 113);
    color: white;
}
.Sign_up{
    width: 20%;
    height: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Sign_up a{
   display: block;
   width: 55%;
   height: 50%;
   border: none;
   text-decoration: none;
   padding-top: 0.8vh;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 16px;
   text-align: center;
   background-color: rgb(113, 207, 113);
   color: white;
   border-radius: 3px 3px 3px 3px;
}
.Sign_up a:hover{
    background-color: green;
    cursor: pointer;
}
.banner{
    width: 100%;
    height: 90%;
    border: 1px solid black;
    background-image: url(./1000_F_189824144_G3WJ4e273VitGsHvIiObf21F4ONfy9p5.jpg);
    /* background-position: center; */
    background-size: 100% 92%;
    z-index: -1;
    background-repeat: no-repeat;
}
.text{
    width: 45%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.4);
    margin-left: 10%;
    z-index: 0;
    box-shadow: 0px 0px 500px 1px white;
    border: 1px solid none;
    padding: 8% 0px;
}
.text span{
    padding-top: 30%;
    opacity: 1;
    z-index: 1;
}
.text span h2{
    font-size: 36px;
    font-family: sans-serif;
}
.text span p{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 4vh;
}
.text span a{
    display: block;
    width: 30%;
    height: 14%;
    border: none;
    text-decoration: none;
    padding-top: 2.6vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: rgb(113, 207, 113);
    color: white;
    border-radius: 3px 3px 3px 3px;
}
.text span a:hover{
    background-color: green;
    cursor: pointer;
}
.key_cards{
    width: 100%;
    height: 80%;
    border: 1px solid black;
}
.key_cards span{
    text-align: center;
    font-family: sans-serif;
    padding: 4%;
    display: block;
    block-size: 60% 20%;
}
.key_cards span p{
    padding-top: 1vh;
    line-height: 4vh;
}
.key_cards span h2{
    font-size: 32px;
    font-weight: 600;
}
.cards{
    width: 90%;
    height: 55%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.card{
    width: 22%;
    height: 88%;
    border: 1px solid black;
    z-index: 0;
    background-color: rgb(113, 207, 113);
    transition: 0.3s;
    border-radius: 5px 5px 5px 5px;
}
.card:hover{
    transform: scale(1.1);
}
.card_icon{
    width: 10vh;
    height: 10vh;
    border: 1px solid black;
    margin: auto;
    margin-top: -4vh;
    z-index: 0;
    background: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card_icon img{
    height: 50%;
}
.cand span h3{
    color: white;
}
.cources_pfotos{
    width: 100%;
    height: 88vh;
    border: 1px solid black;
}
.photos{
    width: 90%;
    height: 64%;
    border: 1px solid black;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
}
.photo{
    width: 32%;
    height: 100%;
    border: 1px solid black;
}
.photo img{
    width: 100%;
    height: 100%;
}
.confirms{
    width: 100%;
    height: 8vh;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}